          /* BOILER */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow: hidden;
  color: rgb(243, 223, 255);
}

canvas {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  cursor: none;
}

          /* MAIN STYLES */

.menu {
  position: absolute;
  top: 0; left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: black;
  z-index: 10;
}

.title {
  margin: 60px 0;
  text-align: center;
  font-size: 160px;
}

.description {
  margin: 60px 0;
  line-height: 1.4;
  text-align: center;
  font-size: 30px;
}
.description em {
  font-size: 36px;
}

.hide {
  display: none;
}

h2 {
  text-align: center;
  margin-top: 80px;
  font-size: 80px;
}

h3 {
  margin-top: 50px;
  text-align: center;
  font-size: 100px;
}
#new-record {
  position: absolute;
  bottom: 15%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-size: 120px;
  color: rgb(239, 239, 134);
  overflow: visible;
  animation: record infinite cubic-bezier(0.65, 0.285, 0.92, 1) 2s;
}

.tracker {
  position: absolute;
  color: white;
  font-size: 40px;
  display: block;
}
#time-tracker {
  top: 90%; left: 3%;
}
#hi-score {
  top: 90%; right: 3%;
}

.nav-button{
  position: absolute;
  display: block;
  width: 5vw;
  height: 5vw;
  transform: translateX(-50%);
  z-index: 11;
}
#home {
  top: 90%; left: 45%;
  background-color: white;
}
#restart {
  top: 90%; left: 55%;
  background-color: rgb(252, 160, 160);
}

.button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 15px 22px;
  font-size: 50px;
  border: 8px solid;
  border-image: linear-gradient(100deg, rgb(149, 0, 255), white) 1;
  background-color: rgb(0, 255, 221);
  transition: ease-in-out all 0.7s;
}
.button:hover {
  background-color: rgb(150, 255, 175);
  color:rgb(72, 0, 255);
  border-image: linear-gradient(20deg, rgb(149, 0, 255), white) 1;
}
.button:active {
  background-color: rgb(149, 0, 255);
  color: white;
  border-image: linear-gradient(210deg, rgb(149, 0, 255), white) 1;
}

          /* EXTRA STYLES */

.j20 {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes record {
  0% {
    color: rgb(249, 249, 163);
    font-size: 120px;
    transform: translateX(-50%) rotate(0) scale(1);
    
  }
  60% {
    color: rgb(247, 216, 62);
    font-size: 140px;
    transform: translateX(-50%) rotate(8deg) scale(1.1);
  }
  100% {
    color: rgb(249, 249, 163);
    font-size: 120px;
    transform: translateX(-50%) rotate(0) scale(1);
    
  }
}